
/*csslint box-model: false*/
/*csslint empty-rules: false*/
/*csslint duplicate-background-images: false*/

.custom-list {
  list-style: none;
  padding-left: 0;
  /* position: relative; */
}

.custom-list li {
  height: 90px;
  padding-left: 160px;
  position: relative;
  top: 45px;
}

.huddle-lp-1:before {
  background-image: url(../images/huddle-lp-1-thumb.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  content: '';
  height: 81px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
  width: 144px;
}

.huddle-lp-2:before {
  background-image: url(../images/huddle-lp-2-thumb.png);
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  content: '';
  height: 81px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
  width: 144px;
}

/*
.custom-list {
    list-style: none;
    padding-left: 0;
}
.custom-list li {
    position: relative;
    padding-left: 20px;
}
.custom-list li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('img/bullet.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
} */
